<div class="mb-2">
  <div class="v-marker box-marker"></div> {{'observation-map.legend.box' | translate}}
</div>
<div class="mb-2">
  <div class="v-marker grey-marker"></div> {{'observation-map.legend.unreliable' | translate}}
</div>
<div class="mb-2">
  <div class="v-marker orange-marker"></div> {{'observation-map.legend.reliable' | translate}}
</div>