<nav>
    <section *ngIf="fixedTop" class="heightFix"></section>
    <section class="nav-top">
        <div class="container">
            <div class="header">
                <a class="mr-3" routerLink="/">
<!--                     <img class="viekas-logo" src="./assets/images/logos/VieKas-logo-RGB-cutout.png">
                    <img class="life-logo" src="./assets/images/logos/life.png"> -->
                    <div class="vrs-logo-container">
                        <img alt="Vieraslajit.fi" class="vrs-logo" src="./assets/images/logos/vieraslajit_monochrome.svg">
                    </div>
                </a>
            </div>
            <div class="nav-top-right-wrapper">
                <a [routerLink]="['./lajit']" [queryParams]="{'FiList': 'true'}" class="administrative-list btn vrs-button borderless"><img alt="" src="./assets/images/logos/flag-fi.png">{{ 'navigation.fiList' | translate }}</a>
                <a [routerLink]="['./lajit']" [queryParams]="{'EuList': 'true'}" class="administrative-list btn vrs-button borderless"><img alt="" src="./assets/images/logos/flag-eu.png">{{ 'navigation.euList' | translate }}</a>
                <vrs-user-menu [loginUrl]="loginUrl"
                            [loggedIn]="loggedIn"
                            [personName]="userPropertiesWrapper().person.fullName"
                            (onLogout)="logout()"></vrs-user-menu>
                <vrs-language-selector></vrs-language-selector>
            </div>
        </div>
    </section>
    <section class="nav-bottom" [ngClass]="{'fixed-top': fixedTop}">
        <div class="loader" [ngClass]="{'loading': loading}"></div>
        <div class="container">
            <vrs-omnisearch class="nav-omni"></vrs-omnisearch>
            <div class="nav-links">
                <a class="link" routerLink="/lajit" routerLinkActive="active" translate>navigation.taxonomy</a>
                <div class="dropdown link vrs-dropdown" tabindex="0" dropdown>
                    <a class="dropdown-toggle" translate>navigation.observations<span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" id="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item"
                            routerLink="/havainnot" translate>navigation.observations.map</a></li>
                        <li role="menuitem"><a class="dropdown-item"
                            routerLink="/ilmoita" translate>navigation.observations.report</a></li>
                        <li role="menuitem"><a class="dropdown-item"
                            routerLink="/info/i-2277">{{'navigation.observations.report2' | translate}}</a></li>
                    </ul>
                </div>
                <a class="link" [routerLink]="['/info/', getFAQId()]" routerLinkActive="active" translate>navigation.FAQ</a>
                <div class="dropdown link vrs-dropdown" id="dropdown-about" tabindex="0" dropdown>
                    <a class="dropdown-toggle" translate>navigation.static<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="container">
                            <div class="row">
                                <div *ngFor="let item of menu" class="col-3">
                                    <h5><a routerLink="/info/{{item.id}}" routerLinkActive="static-active">{{item.title}}</a></h5>
                                    <ng-container *ngIf="item.hasOwnProperty('children')"><a *ngFor="let child of item.children" routerLink="/info/{{child.id}}" routerLinkActive="static-active">{{child.title}}</a></ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>
