<div class="container">
  <div class="head">
    <div class="row title-row">
      <div class="col-auto">
        <h1 *ngIf="taxon?.vernacularName">
          <ng-container *ngIf="taxon.species || !taxon.finnish">{{taxon.vernacularName | capitalize}}</ng-container>
          <ng-container *ngIf="!taxon.species && taxon.finnish">{{'taxonomy.nonspecies' | translate}} {{taxon.vernacularName}}</ng-container>
          <span *ngIf="taxon?.alternativeVernacularName && taxon?.alternativeVernacularName[getCurrentLang()]" class="alternativeVernacularName"> ({{taxon.alternativeVernacularName[getCurrentLang()]}})</span>
          <img src="assets/images/logos/vieraslajit_tekstiton.png" width="40" height="40" alt="Vieraslaji" title="Vieraslaji">
        </h1>
        <h5 [class.cursive]="taxon?.cursiveName">{{taxon?.scientificName}}</h5>
      </div>
      <div class="col-auto">
<!--           <button class="btn vrs-button" routerLink='/taxon/{{id}}/comparison' translate>comparison.title</button> -->
        <ng-container *ngIf="taxon?.customReportFormLink; else report">
          <a [href]="taxon.customReportFormLink" class="btn vrs-button primary float-right mb-1" target="_blank" translate>taxon.report.custom</a>
        </ng-container>
        <ng-template #report><a [routerLink]="'/ilmoita/MHL.85/' + taxon?.id" [state]="{ name: taxon?.vernacularName ? taxon?.vernacularName : taxon?.scientificName }" class="btn vrs-button primary" translate>taxon.report</a></ng-template>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 order-2 col-md-7 order-md-1 left-container">
      <div id="taxoncard-cont" *ngIf="desc?.groups; else infoAndLajifiTemplate">
        <div class="taxoncard" *ngFor="let variable of desc?.variables; let first = first">
          <div>
            <h3>
              {{variable.title}}
            </h3>
            <span [innerHTML]="variable.content"></span>
          </div>
          <hr>
        </div>
      </div>
      <div *ngIf="desc?.groups; then infoAndLajifiTemplate"> </div>
    </div>

    <div class="col-sm-12 order-1 col-md-5 order-md-2">
      <div class="card taxon-info-card" id="taxoncard-right">
        <div class="card-block" *ngIf="isPlatformBrowser()">
          <carousel *ngIf="media && media.length > 0" id="image-carousel" [interval]="false">
            <ng-container *ngIf="taxon?.species; else nonSpeciesImg">
              <slide class="card-slide slide" *ngFor="let image of media">
                <img alt="" class="img-fluid center-block" src="{{image.fullURL}}" (click)="openImage(imageModal, image)">
              </slide>
            </ng-container>
            <ng-template #nonSpeciesImg>
              <slide class="card-slide slide non-species-slide">
                <img alt="" class="img-fluid center-block" src="assets/images/logos/vieraslajit_logo_musta.png">
              </slide>
            </ng-template>
          </carousel>
        </div>
        <div class="taxon-info">
          <div>
            <strong>{{'taxon.name' | translate}}</strong>
            {{taxon?.vernacularName}}
          </div>
          <div>
            <strong>{{'taxon.scientific' | translate}}</strong>
            <em>{{taxon?.scientificName}}</em>
          </div>
          <div *ngIf="taxon?.invasiveSpeciesEstablishment">
            <strong>{{'taxon.establishedFin' | translate}}</strong>
            <span>{{taxon?.invasiveSpeciesEstablishment | metadatalabel: 'MX.invasiveSpeciesEstablishmentStatuses' | async}}</span>
          </div>
          <hr/>
          <ng-container *ngIf="taxon?.administrativeStatuses">
            <div>
              <!-- <strong translate>taxon.administrative</strong> -->
              <ul>
                <ng-container *ngFor="let status of taxon.administrativeStatuses">
                  <li *ngIf="showAdminStatus(status)">
                    {{status | metadatalabel:'MX.adminStatusEnum' | async}}
                  </li>
                </ng-container>
              </ul>
            </div>
          </ng-container>
        </div>
      </div> <!-- /card -->

      <div class="taxon-card-map" *ngIf="taxon">
        <div class="taxon-card-map-title" (click)="toggleMap()">
          <h5 translate>taxon.map</h5>
          <span class="oi oi-chevron-bottom" [ngClass]="{'oi-chevron-bottom': mapToggle, 'oi-chevron-left': !mapToggle}"></span>
        </div>
        <div [ngStyle]="!mapToggle && {'display': 'none'}">
          <vrs-observation-map [id]="taxon.id" [mapHeight]="600" [showLegend]="false"></vrs-observation-map>
          <vrs-map-legend></vrs-map-legend>
          <div class="row">
            <div class="col-12">
                <button [routerLink]="['/havainnot']" [queryParams]="{taxonId: taxon.id}" class="btn vrs-button" translate>taxon.viewOnMap</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #infoAndLajifiTemplate>
      <h3>{{desc?.speciesCardAuthors?.title}}</h3>
      <div [innerHTML]="desc?.speciesCardAuthors?.content"></div>
      <a *ngIf="taxon" href='http://tun.fi/{{taxon.id}}' target="_blank" rel="noopener noreferrer">{{'taxon.lajilink' | translate}}</a>
    </ng-template>
  </div>
  <br>
  <br>
</div>

<ng-template #imageModal>
  <img alt="" class="img-fluid modal-image" [src]="selectedImage.fullURL || selectedImage.largeURL" />
  <label class="modal-label">
    <div>{{selectedImage.taxon.vernacularName}}</div>
    <div>{{selectedImage.author}}, {{selectedImage.copyrightOwner}}, <span [innerHTML]="selectedImage.licenseAbbreviation"></span></div>
  </label>
</ng-template>
