@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '../../../../assets/styles/datatable';
@import '~bootstrap/scss/bootstrap-grid';
@import 'assets/styles/laji-map-compat';

$zIndex: 800;

:host ::ng-deep .leaflet-top.leaflet-left {
  margin-top: 80px;
  margin-left: 10px;
  @include media-breakpoint-down(xs) {
    margin-top: 50px;
    margin-left: 0px;
  }
}

#map {
  height: 400px;
}

.col-map {
  @include media-breakpoint-up (sm) {
    padding-right: 0px;
  }
}

.col-list {
  @include media-breakpoint-up (sm) {
    padding-left: 0px;
  }
}

p {
    padding: 15px;
}

:host ::ng-deep .col-list .ngx-datatable {
  border-radius: 0px;
  font-size: 1rem;
}

:host ::ng-deep .datatable-body-cell {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vrs-map-checkbox {
  display: inline-block;
  padding: 0.5em;
  margin-left: 1em;
}

.selected-observation-left {
  border-right: 1px solid #ccc;
  color: $neutral-6;
  @include media-breakpoint-down(xs) {
    display:none;
  }
}

.hidden {
    display:none;
}

.observation-count {
    margin-top: 2em;
    b {
        font-size: 1.5em;
    }
}

.selected-info a {
  color: $neutral-6;
  font-weight: 600;
}

a.laji-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: $neutral-6;
  z-index: $zIndex;
  background: rgba(#fff, 0.5);
  padding: 5px;
  &:hover {
      color: $neutral-8;
  }
}

.map-container {
  position: relative;
}

vrs-map-filters {
  position: absolute;
  top: 75px;
  left: 50px;
  z-index: $zIndex;
  @include media-breakpoint-down(xs) {
    top: 50px;
    left: 10px;
  }
}

.right-float-menu {
  overflow-y: auto;
  position: absolute;
  top: 50px;
  right: 50px;
  background: $neutral-1;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(#000, 0.3);
  padding: 20px;
  width: 500px;
  z-index: $zIndex;
  @include media-breakpoint-down(md) {
    top: 70px;
    right: 0;
    left: 2.5vw;
    width: 95vw;
  }
  @include media-breakpoint-down(xs) {
    top: 50px;
  }
}

#view-buttons {
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: $zIndex;
  @include media-breakpoint-down(xs) {
    left: 10px;
    top: 10px;
  }
  button {
    background: $neutral-2;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: $neutral-7;
    box-shadow: 0 1px 3px 0 rgba(black, 0.3), inset 0 1px 3px 0 rgba(black, 0);
    margin-right: 10px;
    &.active {
      color: $neutral-6;
      background: $neutral-3;
      box-shadow: 0 1px 3px 0 rgba(black, 0), inset 0 1px 3px 0 rgba(black, 0.3);
    }
  }
  .oi {
    margin-right: 5px;
  }
}

.right-float-menu button.close {
    margin-top: -15px;
    margin-right: -12px;
}

.legend {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(white, .5);
  z-index: 599;
}
